
/* Reset default styles for lists */
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Navigation bar styles */
  nav {
    background-color: #4be1a3; 
    top: 0;
    width: 100%;
    padding: 10px 0; /* Add padding to the top and bottom */
    box-shadow: 0 2px 4px rgba(147, 214, 11, 0.1); /* Add shadow for depth */
  }
  
  nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: rgb(212, 132, 62);
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  nav a:hover {
    background-color: #e0d72a; 
  }
  
  nav ul {
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin-right: 20px; 
  }
  
  /* Heading styles */
  h2 {
    margin-bottom: 20px;
  }
  
  /* Button styles */
  .button {
    background-color: #007bff; /* Blue background color */
    border: none;
    color: rgb(102, 163, 207);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Add border radius */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Form input styles */
  input[type=text],
  input[type=password],
  input[type=number],
  input[type=email],
  select,
  input[type=date],
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #6fb8ce;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease; /* Smooth transition for border color */
  }
  
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=number]:focus,
  input[type=email]:focus,
  select:focus,
  input[type=date]:focus,
  textarea:focus {
    border-color: #007bff; /* Blue border color on focus */
  }
  
  /* Label styles */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
    color: #79a0ca; /* Dark gray color for labels */
  }



  
  